@model string

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label" })
        @Html.TextBox("emailAddress", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>

    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
}

